{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% load static %}

{% block title %}
    Start Encounter
{% endblock title %}

{% block body %}
    <style>

        #hint_id_username, #hint_id_password1, #hint_id_password2 {
            display: none;
        }
        
    </style>

    <div class="container">
        <h2 class="heading font-weight-light text-center">Start Encounter</h2>
        <hr>
    </div>

    <div class="container w-50 card p-4 mt-4">

        <form method="post" action="" class="form-control">
         
                
                {% csrf_token %}
                {{ encounter_form | crispy }}
                
                <input type="submit" value="Create Encounter" class="w-100 text-white text-center my-2 btn btn-info">

        </form>

    </div>

{% endblock body %}